:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  min-width: 100px;
  width: 100px;
  height: 140px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  margin: 5px;
  justify-content: center;
}

.spacer {
  height: 25px;
}

.deck {
  margin-top: 200px;
  float: right;
  height: 100%;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.discard {
  width: 100px;
  height: 140px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.deckCard {
  width: 100px;
  height: 140px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  margin-top: 5px;
  background-image: url("@/assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.opponent {
  background-image: url("@/assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.turn {
  border: 1px solid green;
}

.notTurn {
  border:none
}

.selectable {
  border: 1px solid yellow;
}

.notSelectable {
  border:none
}

.cardFlex {
  display: flex;
  justify-content: left;
}

.hand, .table {
  min-width: 560px;
  max-width: 560px;
  min-height: 160px;
}

.table {
  position: relative;
}

.frontTable { 
  position: absolute;
}

.backTable { 
  /* position: absolute; */
  background-color: rgb(35, 29, 29);
}

.ground {
  min-width: 680px;
  max-width: 680px;
  border: 1px solid white;
  padding: 20px;
  margin: 0 auto;
}

.lisible {
  background-color: black;
}